body{
    background:Snow;
}

h1{
    font-size:30px;
    font-weight: bold;
    text-align:center;
    padding-top: 30px;
}

ol {
    counter-reset:none;
}

ol > li {
    counter-increment: item;
}

ol ol > li {
    display: block;
}

ol ol > li:before {
    content: counters(item, ".") ". ";
    margin-left: -20px;
}


.title {
    font-size: 200%; /* Размер шрифта */
    border-bottom: 2px solid #1d0007; /* Параметры линии под текстом */
    font-weight: normal; /* Убираем жирное начертание */
    padding-bottom: 5px; /* Расстояние от текста до линии */
}

.aim {
    width: 20%; /* Размеры */
    background:Snow; /* Цвет фона */
    outline: 2px solid #000; /* Чёрная рамка */
    border-radius: 10px; /* Радиус скругления */
    padding-bottom: 10px;
    margin-left: 40px;
}

.aim > h3 {
    text-align: center;
}

.paragraph {
    width: 75%;
    padding-left:40px;
    padding-right:40px;
    /*margin-right: 100px;*/
}
.author{
    text-align: center;
    margin: 10px;
}