@media (max-width: 850px) {
    .wrap{
        font-size: 150%;
    }

    #logo {
        width: 100%;
        min-height: 300px;
        background: darkgreen;
        float: left;
        text-align: center;
    }

    #lion {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    #orange_block {
        width: 100%;
        min-height: 145px;
        background: orangered;
        float: left;
        text-align: center;
        margin: 1% 0px;
    }

    .white {
        width: 80%;
        min-height: 100px;
        background: white;
        float: left;
        margin: 10px 10%;
    }

    .link {
        text-align: center;
        margin: 35px auto;
        font-size: 20px;
        display: block;
    }

    #small_lion {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    #pink_block {
        width: 100%;
        min-height: 145px;
        background: deeppink;
        float: left;
        margin: 1% 0px;
    }

    .pink_inner {
        width: 97%;
        min-height: 130px;
        background: hotpink;
        float: left;
        margin-left: 1.45%;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .vert {
        width: 100%;
        min-height: 60px;
        background: navajowhite;
        float: left;
    }

    .margin_bottom {
        margin-bottom: 10px;
    }

    .horizontal {
        width: 49%;
        min-height: 130px;
        background: navajowhite;
        float: left;
    }

    .pink_inner_margin_right {
        margin-right: 2%;
    }

    .blue_block {
        width: 100%;
        min-height: 190px;
        background: darkblue;
        float: left;
        color: whitesmoke;
        margin: 1% 0px;
    }

    .text_center {
        text-align: center;
        margin-top: 85px;
        display: block;
    }

    .text_left_bottom {
        text-align: left;
        margin-top: 160px;
        display: block;
    }

    footer {
        height: 100px;
        background: #333;
        margin-top: 10px;
    }
}
