.container-fluid {
    min-width: 450px;
}

.navbar {
    background: #5b6169;
    border: 0px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-toggle {
    border-color: black;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    padding-left: 60%;
    padding-top: 18px;
}

.header_text {
    background: -webkit-linear-gradient(180deg, rgb(249, 249, 249), rgb(128, 135, 135));
    background: -moz-linear-gradient(180deg, rgb(249, 249, 249), rgb(128, 135, 135));
    background: linear-gradient(180deg, rgb(249, 249, 249), rgb(128, 135, 135));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 60px;
    padding-top: 5px;
    font-size: 19px;
}

.block_carousel {
    background-image: radial-gradient(circle, #ffffff, #eaf9ff, #b6fbff, #68ffff, #0affea);
    position: relative;
    height: 500px;
    z-index: -1;
}

.carousel-indicators {
    margin-left: 49%;
}

.carousel-inner {
    max-height: 500px;
    height: 338px;
}

.item {
    position: absolute;
    width: 100px;
    height: 120px;
}

.carousel {
    position: relative;
    width: 281px;
    margin-left: 24px;
    margin-top: 163px;
    z-index: -1;
}

.iphone {
    background-repeat: no-repeat;
    max-width: 350px;
    padding: 86px 20px 0 10px;
    z-index: -1;
    position: absolute;
}

.iphone_content {
    background: none;
    z-index: 10;
    margin-top: 200px;
}

.header-h1 {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.header-h1:before,
.header-h1:after {
    content: "";
    flex: 1 1;
    border-bottom: 1.5px solid #000;
    margin: auto 5px;
}

.header-line {
    height: 150px;
    z-index: 5;
}

#block_of_icons {
    background: white;
    text-align: center;
    margin-right: 15px;
    z-index: 10;
    position: relative;
}

.heading{
    color: #3674ba;
}

.button:hover {
    background-color: dodgerblue;
    color: white;
}

.block_2 {
    margin-bottom: 5%;
}

.block_text {
    background: #d1d1d1;
}

#about {
    text-align: center;
    margin-right: 15px;
    margin-left: 200px;
    background: #d1d1d1;
    margin-bottom: 30px;
}

#our {
    margin: 40px 30px 20% 10%;
    text-align: center;
    position: relative;
    z-index: 10;
}

.block_3{
    margin-right: 15px;
    margin-bottom: 50px;
}

.btn-large {
    left: 87.2%;
    top: 80.5%;
    position: absolute;
    background-color: #3674ba;
    /*width: 70px;*/
    right: 100%;
    height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    margin-right: 20px;
}

.map {
    margin-bottom: 15px;
}

.skills {
    text-align: left;
}

#here {
    margin: 0px 50px;
    color: black;
    text-align: center;
    padding-top: 30px;
}

footer {
    height: 100px;
    background: white;

}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: white;
    }

    #about{
        margin-left: 10px;
    }
    #block_of_icons{
        margin-left: 10px;
    }

    .block_3 {
        width: 70%;
        margin-left: 15%;
    }

    iframe {
        width: 100%;
    }

    .btn-large {
        left: 77.1%;
        top: 86%
    }

    .iphone_content {
        background: rgba(207, 249, 249, 0.77);
        padding-bottom: 15px;
        position: absolute;
        right: 10px;
    }

    .carousel-indicators {
        margin-left: 33%;
    }

}