@media (max-width: 860px) and (min-width: 350px) {


    .menu {
        display: block;
    }

    .menu:hover {
        padding-bottom: 10px;
        padding-left: 80%;
    }

    .logo {
        float: none;
    }

    nav {
        display: none;
        top: 80px;
        background: lightgrey;
        width: 100%;
    }

    nav:hover {
        display: block;
    }

    header .wrap_header:hover nav {
        display: block;
    }

    nav > ul > li {
        float: none;
        text-align: center;
    }

    nav ul li a {
        display: block;
    }

    .sub {
        position: relative;
        left: 10px;
        right: 10px;
    }

    #mini_cooper1 {
        width: 100%;
        float: left;
    }

    #flag {
        width: 100%;
        float: left;
    }

    .button {
        width: 50%;
    }

    .block_2 {
        width: 80%;
        margin: 10% 90px;
    }

    #mini_cooper2 {
        width: 100%;
        float: left;
    }

    .block_3 {
        margin-left: 25px;
        margin-top: 400px;
    }

    #description {
        margin-top: 80px;
    }
}